@{
	Layout = "_Layout";
}

<div class="container mt-4">
	<h2>Film Ekle</h2>

	<!-- Film adı yazmak için bir textbox -->
	<div class="mb-3">
		<div class="search-box">
			<input id="search" data-source="0" type="text" name="Title" placeholder="Film ara ve ekle..." autocomplete="off">
		</div>
	</div>

	<h3>Arama Sonuçları</h3>

	<section class="film-list">
		<!-- Film Listesi -->
	</section>
</div>
